<div id="nontransparent-constructions">
	<div>
		<div flex>
			<md-button class="md-raised md-primary"
					   ng-click="vm.addNewConstruction($event)">
				Dodaj novu konstrukciju
			</md-button>
		</div>
		<div flex>

		</div>
		<md-grid-list md-cols="1"
					  md-row-height="500px"
					  md-gutter="20px" md-gutter-gt-sm="4px"
					  style="background-color:#efeffb">

			<md-grid-tile ng-repeat="construction in vm.constructions | orderBy: 'lastModifiedAt':true">
				<md-grid-tile-header flex-align="center center">
					<md-toolbar class="md-hue-2">
						<div class="md-toolbar-tools">
							<md-button class="md-raised md-primary"
									   ng-click="vm.saveConstruction($event, construction)">
								Snimi konstrukciju
							</md-button>
							<md-button class="md-raised md-primary"
									   ng-click="vm.removeConsruction($event,construction)">
								Obriši konstrukciju
							</md-button>
						</div>
					</md-toolbar>
				</md-grid-tile-header>

				<style>
					table, th, td {
						border: 1px solid black;
						border-collapse: collapse;
					}

					th, td {
						padding: 5px;
						text-align: left;
						font-size: 0.7em;
					}

					th:hover {
						background-color: rgb(63,81,181);
						color: white;
					}

					.editable:hover {
						background-color: #b2bae2;
					}
				</style>
				<div style="position: absolute; top: 50px; width: 100%;">
					<table style="width:100%">
						<tr>
							<th>Materijal</th>
							<th>Debljina<md-tooltip md-direction="top">Debljina dj [cm]</md-tooltip></th>
							<th>Rj [m2K/W]<md-tooltip md-direction="top">Otpornost prolazu toplote sloja Rj [m2K/W]</md-tooltip></th>
							<th>Rm[m2K/W]<md-tooltip md-direction="top">Otpornost prolazu toplote Rm [m2K/W]</md-tooltip></th>
							<th>U[w/m2K]<md-tooltip md-direction="top">Koeficijent prolaza toplote U [w/m2K]</md-tooltip></th>
							<th>θj[C°]<md-tooltip md-direction="top">Temperatura na  granicama provera kondenzacije θj [C°]</md-tooltip></th>
							<th>θj[C°]<md-tooltip md-direction="top">Temperatura na granicama, raspodela temeperature θj [C°]</md-tooltip></th>
							<th>p'[kPa]<md-tooltip md-direction="top">Parcijalni pritisci vodene pare p' [kPa]</md-tooltip></th>
							<th>p[kPa]<md-tooltip md-direction="top">Pritisci zasićenja vodene pare p [kPa]</md-tooltip></th>
							<th>Sd[m]<md-tooltip md-direction="top">Difuzija vodene pare Sd=µ*d [m]</md-tooltip></th>
						</tr>
						<tr>
							<td>UNUTRA</td>
							<td colspan="4">Unutrašnja projektna temperatura prema nameni objekta</td>
							<td>{{construction.tetaj1[0] | number:2}}</td>
							<td>{{construction.tetaj2[0] | number:2}}</td>
							<td>{{construction.p1[0] | number:2}}</td>
							<td></td>
							<td>r[m]</td>

						</tr>

						<tr>
							<td>Otpor prelazu toplote na unutrašnju površinu, Rsi</td>
							<td>UZ ZID</td>
							<td>{{construction.rj[1] | number:4}}</td>
							<td>{{construction.rm[1] | number:2}}</td>
							<td>{{construction.u[1] | number:2}}</td>
							<td>{{construction.tetaj1[1] | number:2}}</td>
							<td>{{construction.tetaj2[1] | number:2}}</td>
							<td>{{construction.p1[1] | number:2}}</td>
							<td>{{construction.p2[1] | number:2}}</td>
							<td></td>
						</tr>
						
						<tr ng-repeat="material in construction.materialsUsed" class="editable" ng-click="vm.addOrUpdateMaterialThickness($event,construction,material)">
							<td>{{material.material.name}} - {{material.material.density}}kg/m³</td>
							<td>{{material.thickness}}</td>
							<td>{{construction.rj[2 + construction.materialsUsed.indexOf(material)] | number:4}}</td>
							<td>{{construction.rm[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.u[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.tetaj1[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.tetaj2[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.p1[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.p2[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
							<td>{{construction.sd[2 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
						</tr>
						<tr>
							<td colspan="10" ng-click="vm.addOrUpdateMaterialThickness($event,construction)" style="background-color: rgb(63,81,181); color:white;">
								Dodaj nov sloj materijala
							</td>
						</tr>

						<tr>
							<td>Otpor prelazu toplote sa spoljne površine, Rse</td>
							<td>UZ ZID</td>
							<td>{{construction.rj[2 + construction.materialsUsed.length]}}</td>
							<td>{{construction.rm[2 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.u[2 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.tetaj1[2 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.tetaj2[2 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.p1[2 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.p2[2 + construction.materialsUsed.length] | number:2}}</td>
							<td></td>
						</tr>
						<tr>
							<td>SPOLJNA TEMEPERATURA</td>
							<td>Ukupan Rm<md-tooltip md-direction="top">Ukupni koeficijent toplotne otpornosti,  Rm   [m2K/W]</md-tooltip></td>
							<td>{{construction.rj[3 + construction.materialsUsed.length]}}</td>
							<td></td>
							<td></td>
							<td>{{construction.tetaj1[3 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.tetaj2[3 + construction.materialsUsed.length] | number:2}}</td>
							<td>{{construction.p1[3 + construction.materialsUsed.length] | number:2}}</td>
							<td></td>
							<td>{{construction.sd[3 + construction.materialsUsed.indexOf(material)] | number:2}}</td>
						</tr>
						<tr></tr>
					</table>

				</div>
				<div style="position: absolute; left: 0px; bottom:0px; width:100%;" flex>
					<div style="width:24%;  display: inline-block;">
						<!--<canvas id="base" class="chart chart-line" chart-options="{ legend: { display: true } }" chart-legend="true"
								chart-data="construction.rm" chart-labels="construction.chartLabels" chart-series="construction.chart1Caption" chart-colors="construction.colors"></canvas>-->
						<canvas class="chart-line" chart-options="{legend:{ display: true }}"
								chart-data="[construction.rm]" chart-labels="construction.chartLabels" chart-colors="['#f7464a']"
								chart-dataset-override="vm.datasetOverride1"></canvas> 
					</div>
					<div style="width:24%;  display: inline-block;">
						<!--<canvas id="base" class="chart chart-line"
								chart-data="construction.tetaj2" chart-labels="construction.chartLabels" chart-series="construction.chart2Caption"></canvas>-->
						<canvas class="chart-line" chart-options="{legend:{ display: true }}"
								chart-data="[construction.tetaj2]" chart-labels="construction.chartLabels"  chart-colors="['#46bfbd']"
								chart-dataset-override="vm.datasetOverride2"></canvas> 
					</div>
					<div style="width:24%;  display: inline-block;">
						<!--<canvas id="base" class="chart chart-line"
								chart-data="construction.tetaj1" chart-labels="construction.chartLabels" chart-series="construction.chart3Caption"></canvas>-->
						<canvas class="chart-line" chart-options="{legend:{ display: true }}"
								chart-data="[construction.tetaj1]" chart-labels="construction.chartLabels" chart-colors="['#fdb45c']"
								chart-dataset-override="vm.datasetOverride3"></canvas> 
					</div>
					<div style="width:24%;  display: inline-block;">
						<!--<canvas id="base" class="chart chart-bar"
								chart-data="construction.p1" chart-labels="construction.chartLabels" chart-series="construction.chart4Caption"></canvas>-->
						<canvas class="chart-line" chart-options="{legend:{ display: true }}"
								chart-data="[construction.p1]" chart-labels="construction.chartLabels" chart-colors="['#97bbcd']"
								chart-dataset-override="vm.datasetOverride4"></canvas> 
					</div>

				</div>






				<!--ng-click="vm.commandDevice(device.serialNumber, $event)">-->
				<!--<md-grid-tile-footer>
					<h2>{{player.name}}</h2>
					<h3>{{player.skill}}</h3>
				</md-grid-tile-footer>-->
			</md-grid-tile>

			<!--<md-grid-tile class="grey"
						  md-ink-ripple
						  ng-click="vm.addNewPlayer($event)">
				<md-icon md-svg-icon="add"></md-icon>
				<md-grid-tile-footer>
					<h2>Add new player</h2>
				</md-grid-tile-footer>
			</md-grid-tile>-->
		</md-grid-list>
	</div>


</div>