bin
obj
*.user
logs
*.suo
_ReSharper.*
[Aa]pp_[Dd]ata/
[Ff]iles/
node_modules/
bower_components/
packages/*
!packages/repositories.config
.vs/
*.min.js
*.min.css
src/Balansero/wwwroot/uploads/
src/Balansero/wwwroot/lib/
src/Balansero/project.lock.json
src/Balansero/wwwroot/_references.js
