<div id="transparent-constructions">
	<div>
		<md-grid-list md-cols="1"
					  md-row-height="500px"
					  md-gutter="20px" md-gutter-gt-sm="4px"
					  style="background-color:#efeffb">
			<div>
				<h1>It's alive</h1>
			</div>

			<md-grid-list md-cols="1"
						  md-row-height="500px"
						  md-gutter="20px" md-gutter-gt-sm="4px"
						  style="background-color:#efeffb">
				<md-grid-tile>
					<md-grid-tile-header flex-align="center center">
						<md-toolbar class="md-hue-2">
							<div class="md-toolbar-tools">
								<md-button class="md-raised md-primary">
									Snimi
								</md-button>
							</div>
						</md-toolbar>
					</md-grid-tile-header>

					<style>
						table, th, td {
							border: 1px solid black;
							border-collapse: collapse;
						}

						th, td {
							padding: 5px;
							text-align: left;
							font-size: 0.7em;
						}

							th:hover {
								background-color: rgb(63,81,181);
								color: white;
							}

						.editable:hover {
							background-color: #b2bae2;
						}
					</style>
					<div style="position: absolute; top: 50px; width: 100%;">
						<table style="width:100%">
							<tr>
								<th>Pozicija</th>
								<th>Dimenzije<md-tooltip md-direction="top">Dimenzije visina X širina</md-tooltip></th>
								<th>Ac[m2]<md-tooltip md-direction="top">Ukupna površina prozora Ac [m2]</md-tooltip></th>
								<th>Ag[m2]<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Af[m]<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>lg[m]<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Ffr<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Staklo<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Ug[W/m2K]<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Okvir<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Uf[W/m2K]<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Topl. Most<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>ψg<md-tooltip md-direction="top">TODO</md-tooltip></th>
								<th>Uw[W/m2K]<md-tooltip md-direction="top">TODO</md-tooltip></th>
							</tr>
							<tr ng-repeat="tbe in vm.tbes" class="editable" ng-click="vm.addOrUpdateNonTransparentConstruction($event,tbe)">
								<td>{{tbe.pos}}</td>
								<td>{{tbe.height}}/{{tbe.width}}</td>
								<td>{{tbe.height * tbe.width}}</td>
								<td>{{tbe.ag}}</td>
								<td>{{tbe.af}}</td>
								<td>{{tbe.lg}}</td>
								<td>{{tbe.ag / (tbe.ag + tbe.af)}}</td>
								<td>{{tbe.tbeMaterial.name}}</td>
								<td>{{tbe.tbeMaterial.ug}}</td>
								<td>{{tbe.tbeFrame.name}}</td>
								<td>{{tbe.tbeFrame.uf}}</td>
								<td>{{tbe.tbeHeatCorrectionFactor.name}}</td>
								<td>{{tbe.tbeHeatCorrectionFactor.psiG}}</td>								
								<td>{{(tbe.ag * tbe.tbeMaterial.ug  + tbe.af * 0  + tbe.lg * tbe.tbeHeatCorrectionFactor.psiG ) / (tbe.ag + tbe.af)}}</td>
							</tr>
							<tr>
								<td colspan="14" style="background-color: rgb(63,81,181); color:white;">
									Dodaj nov element
								</td>
							</tr>
						</table>
					</div>
				</md-grid-tile>
			</md-grid-list>
	</div>
</div>