@section Scripts {
	@{ await Html.RenderPartialAsync("_CommonScriptsPartial"); }
	@{ await Html.RenderPartialAsync("_RegisterScriptsPartial"); }
}

<form class="full-height" id="login" ng-app="login" ng-cloak layout="column" layout-align="start center">
	<md-toolbar layout layout-align="center center">
		<img src="~/img/easyevent_logo.png" />
	</md-toolbar>
	<div layout class="full-height" layout-align="center center">
		Please check your email to reset your password.
	</div>
</form>
