@model ForgotPasswordViewModel
@section Scripts {
	@{ await Html.RenderPartialAsync("_CommonScriptsPartial"); }
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	@{ await Html.RenderPartialAsync("_RegisterScriptsPartial"); }
}
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="full-height" id="login" ng-app="login" ng-cloak layout="column" layout-align="start center" >
	<md-toolbar layout layout-align="center center">
		<img src="~/img/easyevent_logo.png" />
	</md-toolbar>
	<div layout="column" layout-align="center center"  flex>
		<div asp-validation-summary="All" id="validation-messages" class="text-danger"></div>
		<div>
			<label asp-for="Email"></label>
			<div>
				<input asp-for="Email" />
			</div>
		</div>
		<div>
			<div>
				<md-button type="submit" class="md-raised md-primary">Submit</md-button>
			</div>
		</div>
	</div>
</form>
