@model ResetPasswordViewModel
@section Scripts {
	@{ await Html.RenderPartialAsync("_CommonScriptsPartial"); }
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	@{ await Html.RenderPartialAsync("_RegisterScriptsPartial"); }
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="full-height" id="login" ng-app="login" ng-cloak layout="column" layout-align="start center" >
	<md-toolbar layout layout-align="center center">
		<img src="~/img/easyevent_logo.png" />
	</md-toolbar>

	<div layout="column" layout-align="center center" flex>
		<div asp-validation-summary="All" class="text-danger" id="validation-messages"></div>
		<input asp-for="Code" type="hidden" />
		<div>
			<label asp-for="Email"></label>
			<div>
				<input asp-for="Email"/>
			</div>
		</div>
		<div>
			<label asp-for="Password"></label>
			<div>
				<input asp-for="Password" />
			</div>
		</div>
		<div>
			<label asp-for="ConfirmPassword"></label>
			<div class="col-md-10">
				<input asp-for="ConfirmPassword" class="form-control" />
			</div>
		</div>
		<div >
			<md-button type="submit" class="md-raised md-primary">Reset</md-button>
		</div>
	</div>
</form>

