<div id="constructions">
	<md-grid-list md-cols="1" md-cols-sm="1" md-cols-md="1" md-cols-gt-lg="2"
				  md-row-height-gt-md="16:9" md-row-height="16:9"
				  md-gutter="8px" md-gutter-gt-sm="4px">

		<md-grid-tile ng-repeat="player in vm.players | orderBy: 'lastModifiedAt':true"
					  class="grey"
					  md-ink-ripple
					  ng-click="vm.editPlayer($event, player.id)">
			<md-grid-tile-header flex-align="center center" ng-click="vm.removePlayer($event, player.id)">
				<h2>Remove<i class="material-icons">delete</i></h2>
			</md-grid-tile-header>
			
			<!--ng-click="vm.commandDevice(device.serialNumber, $event)">-->
			<md-icon md-svg-icon="person"></md-icon>
			<md-grid-tile-footer>
				<h2>{{player.name}}</h2>
				<h3>{{player.skill}}</h3>
			</md-grid-tile-footer>
		</md-grid-tile>
		<md-grid-tile class="grey"
					  md-ink-ripple
					  ng-click="vm.addNewPlayer($event)">
			<md-icon md-svg-icon="add"></md-icon>
			<md-grid-tile-footer>
				<h2>Add new player</h2>
			</md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>
</div>